<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>songName</key>
		<string>song1</string>
		<key>singerName</key>
		<string>singer1</string>
		<key>favo</key>
		<true/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song2</string>
		<key>singerName</key>
		<string>singer2</string>
		<key>favo</key>
		<true/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song3</string>
		<key>singerName</key>
		<string>singer3</string>
		<key>favo</key>
		<true/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song4</string>
		<key>singerName</key>
		<string>singer4</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song5</string>
		<key>singerName</key>
		<string>singer5</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song6</string>
		<key>singerName</key>
		<string>singer6</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song7</string>
		<key>singerName</key>
		<string>singer7</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song8</string>
		<key>singerName</key>
		<string>singer8</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song9</string>
		<key>singerName</key>
		<string>singer9</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song10</string>
		<key>singerName</key>
		<string>singer10</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song11</string>
		<key>singerName</key>
		<string>singer11</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song12</string>
		<key>singerName</key>
		<string>singer12</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song13</string>
		<key>singerName</key>
		<string>singer13</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
	<dict>
		<key>songName</key>
		<string>song14</string>
		<key>singerName</key>
		<string>singer14</string>
		<key>favo</key>
		<false/>
		<key>pro</key>
		<false/>
	</dict>
</array>
</plist>
